<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<section id="wrapper" class="lock-screen-login-register">
  <div class="login-box">
    <div class="white-box">
      <form class="form-horizontal form-material" id="loginform" novalidate name="loginForm">
        <div class="form-group">
          <div class="col-xs-12 text-center">
            <div class="user-thumb text-center"> <img alt="thumbnail" class="img-circle" width="100" src="assets/images/users/default-user-image.png">
              <h3>{{ user.username || "Nom d'utilisateur" }}</h3>
            </div>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="password" required="" placeholder="password" name="password" ng-model="user.password">
          </div>
          <div class="ng-alert" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
            <p class="alert" role="alert" ng-message="required">* Ce champ est requis!</p>
            <p class="alert" role="alert" ng-message="minlength">Mot de passe doit être supèrieur à 8!</p>
          </div>
        </div>
        <div class="form-group text-center">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" (click)="loginUser()"
              [disabled]="disableLogin">Se connecter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
