<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Patients</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a href="#">Hospital</a></li>
            <li class="active">Patients</li>
          </ol>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- .row -->
      <div class="row el-element-overlay">
        <!-- .usercard -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let patient of patients">
          <div class="white-box">
            <div class="el-card-item">
              <div class="el-card-avatar el-overlay-1"> <img src="assets/images/users/default-user-image.png" />
                <div class="el-overlay">
                  <ul class="el-info">
                    <li>
                      <a class="btn default btn-outline image-popup-vertical-fit" href="assets/images/users/default-user-image.png"><i class="icon-magnifier"></i></a>
                    </li>
                    <li><a class="btn default btn-outline" [routerLink]="['/main/traitement',patient.id]" href=""><i class="icon-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="el-card-content">
                <h3 class="box-title">{{ patient.first_name }} {{ patient.last_name }}</h3> 
                <small *ngFor="let case of patient.cases, let last = last">{{ case.name }}<span *ngIf="!last">, </span></small>
                <br/> <small>{{ patient.phone_number }}</small> </div>
            </div>
          </div>
        </div>
        <!-- /.usercard-->
        <!-- /.usercard-->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
</div>
