<!-- Preloader -->
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
      <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
      <div class="top-left-part"><a class="logo" [routerLink]="'/main'"><b><img style="width:60px;-webkit-filter: drop-shadow(0px 0px 5px #fff);filter: drop-shadow(0px 0px 5px #fff);" src="assets/images/logo-lignt.png" alt="home" /></b><span class="hidden-xs"><strong>Care</strong>360</span></a></div>
      <ul class="nav navbar-top-links navbar-left hidden-xs">
        <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
        <li>
          <form role="search" class="app-search hidden-xs">
            <input type="text" placeholder="Recherche..." class="form-control"> <a href=""><i class="fa fa-search"></i></a>            </form>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-right pull-right">
        <li *ngIf="user.type === 'Patient'" style="margin: auto;" data-toggle="modal" data-target="#responsive-modal" class="model_img img-responsive"><button class="btn btn-block btn-danger"><i class="ti-alert p-r-10"></i> Signaler une Alerte</button></li>
        <li class="dropdown"> <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"><i class="icon-envelope"></i>
          <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
          </a>
          <ul class="dropdown-menu mailbox animated bounceInDown">
            <li>
              <div class="drop-title">Vos messages</div>
            </li>
            <li>
              <div class="message-center">
                <a href="#">
                  <div class="user-img"> <img src="assets/images/users/default-user-image.png" alt="user" class="img-circle">
                    <span class="profile-status online pull-right"></span>
                  </div>
                  <div class="mail-contnet">
                    <h5>Un autre utilisateur</h5> <span class="mail-desc">le contenu du message!</span>
                    <span class="time">9:30 AM</span>
                  </div>
                </a>
              </div>
            </li>
            <li>
              <a class="text-center" href="javascript:void(0);"> <strong>Les notifications</strong> <i class="fa fa-angle-right"></i> </a>
            </li>
          </ul>
          <!-- /.dropdown-messages -->
        </li>

        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="assets/images/users/default-user-image.png" alt="user-img" width="36" class="img-circle">
            <b class="hidden-xs caps">{{ user.username || "Nom d'utilisateur" }}</b>
          </a>
          <ul class="dropdown-menu dropdown-user animated flipInY">
            <li><a href="javascript:void(0)"><i class="ti-user"></i>  Mon Profil</a></li>
            <li><a href="javascript:void(0)"><i class="ti-email"></i>  Boite de réception</a></li>
            <li (click)='logout()'><a><i class="fa fa-power-off"></i>  Se déconnecter</a></li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
      </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
  </nav>

  <!-- Left navbar-header -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
          <!-- input-group -->
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Recherche..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span> </div>
          <!-- /input-group -->
        </li>
        <li class="user-pro">
          <a class="waves-effect"><img src="assets/images/users/default-user-image.png" alt="user-img" class="img-circle">
            <span class="hide-menu caps">{{ user.username || "Nom d'utilisateur" }}</span>
          </a>
        </li>
        <li class="nav-small-cap m-t-10">--- Menu Principal</li>
        <li *ngIf="user.type === 'Patient'"> <a [routerLink]="'/main'" class="waves-effect"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu">Acceuil</span></a>
          <li *ngIf="user.type !== 'Patient'"> <a [routerLink]="'/main'" class="waves-effect"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu">Tableau de bord</span></a>
            <li> <a href="Inbox.html" class="waves-effect"><i class="ti-envelope p-r-10"></i> <span class="hide-menu">Boite de réception</span></a></li>
            <li> <a [routerLink]="'appointement'" class="waves-effect"><i class="ti-calendar p-r-10"></i> <span class="hide-menu">Rendez-vous</span></a></li>
            <li class="nav-small-cap m-t-10" *ngIf="user.type !== 'Patient'">--- Professional</li>
            <li *ngIf="user.type !== 'Patient'"> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-user-md p-r-10"></i> <span class="hide-menu"> Médecins <span class="fa arrow"></span></span></a>
              <ul class="nav nav-second-level">
                <li> <a [routerLink]="'doctors-list'">Tous les médecins</a> </li>
                <li> <a [routerLink]="'add-doctor'" *ngIf="user.type === 'Administrateur'">Ajouter médecin</a> </li>
              </ul>
            </li>
            <li *ngIf="user.type !== 'Patient'"> <a href="javascript:void(0);" class="waves-effect"><i class="icon-people p-r-10"></i> <span class="hide-menu"> Patients <span class="fa arrow"></span></span></a>
              <ul class="nav nav-second-level">
                <li> <a [routerLink]="'patients-list'">Tous les Patients</a> </li>
                <li> <a [routerLink]="'my-patients'">Mes Patients</a> </li>
                <li> <a [routerLink]="'add-patient'">Ajouter Patient</a> </li>
              </ul>
            </li>

            <li class="nav-small-cap m-t-10" *ngIf="user.type === 'Patient'">--- Senté</li>
            <li *ngIf="user.type === 'Patient'"> <a href="#" class="waves-effect"><i class="ti-slice p-r-10"></i> <span class="hide-menu">Prise Glécymie</span></a></li>
            <li *ngIf="user.type === 'Patient'"> <a href="#" class="waves-effect"><i class="ti-pulse p-r-10"></i> <span class="hide-menu">Prise Tension</span></a></li>
            <li *ngIf="user.type === 'Patient'"> <a href="#" class="waves-effect"><i class="ti-support p-r-10"></i> <span class="hide-menu">Prise Poids</span></a></li>
            <li *ngIf="user.type === 'Patient'"> <a href="#" class="waves-effect"><i class="ti-bell p-r-10"></i> <span class="hide-menu">Traitements</span></a></li>
            <li *ngIf="user.type === 'Patient'"> <a href="#" class="waves-effect"><i class="ti-truck p-r-10"></i> <span class="hide-menu">Transport</span></a></li>

      </ul>
    </div>
  </div>
  <!-- Left navbar-header end -->
  <!-- Page Content -->
  <router-outlet></router-outlet>
  <!-- #Page Content  -->
  <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Signaler une Alerte</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>Type d'Alerte</label>
              <div>
                <select class="form-control" name="type_alert">
                    <option selected="selected">1er choix</option>
                    <option>2eme choix</option>
                    <option>3eme choix</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="message-text" class="control-label">Détail sur l'alerte:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-danger waves-effect waves-light" id="sa-warning">Signaler</button>
        </div>
      </div>
    </div>
  </div>
</div>