<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title" *ngIf="user.type !== 'Patient'">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title" *ngIf="user.type !== 'Patient'">Tableau de bord</h4>
        <h4 class="page-title" *ngIf="user.type === 'Patient'">Page d'acceuil</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li><a href="index.html">Hôpital</a></li>

          <li class="active" *ngIf="user.type !== 'Patient'">Tableau de bord</li>
          <li class="active" *ngIf="user.type === 'Patient'">Page d'acceuil</li>
        </ol>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!--row -->
    <div class="row" *ngIf="user.type === 'Patient'" style="padding: 40px 14%">
      <div class="news-slide m-b-15 patient-sliders" data-toggle="modal" data-target="#glycemie" >
        <div class="vcarousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <div class="overlaybg"><img src="assets/images/glucometre.jpg" /></div>
              <div class="news-content"><span class="label label-danger label-rounded">Primaire</span>
                <h2>Prise de glycémie</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="news-slide m-b-15 patient-sliders" data-toggle="modal" data-target="#tension" >
        <div class="vcarousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <div class="overlaybg"><img src="assets/images/tensiometre.jpg" /></div>
              <div class="news-content"><span class="label label-danger label-rounded">Primary</span>
                <h2>Prise de Tension</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="news-slide m-b-15 patient-sliders" data-toggle="modal" data-target="#poids" >
        <div class="vcarousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <div class="overlaybg"><img src="assets/images/balance.jpg" /></div>
              <div class="news-content"><span class="label label-primary label-rounded">Secondaire</span>
                <h2>Prise de poids</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="news-slide m-b-15 patient-sliders" [routerLink]="'appointement'">
        <div class="vcarousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <div class="overlaybg"><img src="assets/images/calendar.jpg" /></div>
              <div class="news-content"><span class="label label-primary label-rounded">Secondaire</span>
                <h2>Consulter Vos rendez-vous</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="news-slide m-b-15 patient-sliders" [routerLink]="['traitement',user.id]">
        <div class="vcarousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <div class="overlaybg"><img src="assets/images/traitement.jpg" /></div>
              <div class="news-content"><span class="label label-primary label-rounded">Secondaire</span>
                <h2>Consulter Traitement</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="news-slide m-b-15 patient-sliders" data-toggle="modal" data-target="#transport" >
        <div class="vcarousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <div class="overlaybg"><img src="assets/images/taxi.png" /></div>
              <div class="news-content"><span class="label label-primary label-rounded">Secondaire</span>
                <h2>Réserver transport</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
    
    <br>  <br><br>
    <div class="row" *ngIf="user.type !== 'Patient'">
      <div class="col-md-3 col-sm-6">
        <div class="white-box">
          <div class="r-icon-stats"> <i class="ti-user bg-megna"></i>
            <div class="bodystate">
              <h4>13</h4> <span class="text-muted">Alzheimers</span> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="white-box">
          <div class="r-icon-stats"> <i class="ti-user bg-megna"></i>
            <div class="bodystate">
              <h4>96</h4> <span class="text-muted">Grossess</span> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="white-box">
          <div class="r-icon-stats"> <i class="ti-user bg-megna"></i>
            <div class="bodystate">
              <h4>47</h4> <span class="text-muted">Diabétiques</span> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="white-box">
          <div class="r-icon-stats"> <i class="ti-wallet bg-inverse"></i>
            <div class="bodystate">
              <h4>134</h4> <span class="text-muted">Praticiens</span> </div>
          </div>
        </div>
      </div>
    </div>
    <!--/row -->
    <br>  <br>
    <!-- .row -->
    <div class="row" *ngIf="user.type !== 'Patient'">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="white-box">
          <h3 class="box-title"><small class="pull-right m-t-10 text-success"><i class="fa fa-sort-asc"></i> 18% Plus haut que le mois dernier</small> Alzheimers
          </h3>
          <div class="stats-row">
            <div class="stat-item">
              <h6>Global</h6> <b>80.40%</b></div>
            <div class="stat-item">
              <h6>Mensuel</h6> <b>15.40%</b></div>
            <div class="stat-item">
              <h6>Journée</h6> <b>7.50%</b></div>
          </div>
          <div id="sparkline8" class="minus-mar"></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="white-box">
          <h3 class="box-title"><small class="pull-right m-t-10 text-danger"><i class="fa fa-sort-desc"></i> 1% Moins que le mois dernier</small>Grosses
          </h3>
          <div class="stats-row">
            <div class="stat-item">
              <h6>Global</h6> <b>30.40%</b></div>
            <div class="stat-item">
              <h6>Mensuel</h6> <b>1.40%</b></div>
            <div class="stat-item">
              <h6>Journée</h6> <b>5.50%</b></div>
          </div>
          <div id="sparkline9" class="minus-mar"></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="white-box">
          <h3 class="box-title"><small class="pull-right m-t-10 text-success"><i class="fa fa-sort-asc"></i> 0.5% Plus haut</small>Diabétiques</h3>
          <div class="stats-row">
            <div class="stat-item">
              <h6>Global</h6> <b>8.40%</b></div>
            <div class="stat-item">
              <h6>Mensuel</h6> <b>5.40%</b></div>
            <div class="stat-item">
              <h6>Journée</h6> <b>0.50%</b></div>
          </div>
          <div id="sparkline10" class="minus-mar"></div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    
    <!-- /.row -->

  </div>
  <!--Morris JavaScript -->
  <script src="assets/js/raphael-min.js"></script>
  <script src="assets/js/morris.js"></script>
  <script src="assets/js/custom.min.js"></script>
  <script src="assets/js/dashboard1.js"></script>

  <div id="glycemie" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Ajouter prélèvement glycémie</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="message-text" class="control-label">Valeur:</label>
              <input type="number" class="form-control" id="message-text">
            </div>
            <div class="form-group">
              <label for="message-te" class="control-label">Date:</label>
              <input type="text" class="form-control" id="message-te" value="{{ getDate() }}" readonly>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-info waves-effect waves-light" id="glycemie-info">Ajouter</button>
        </div>
      </div>
    </div>
  </div>

  <div id="tension" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Ajouter prélèvement tension</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="message-text" class="control-label">Valeur:</label>
              <input type="number" class="form-control" id="message-text">
            </div>
            <div class="form-group">
              <label for="message-te" class="control-label">Date:</label>
              <input type="text" class="form-control" id="message-te" value="{{ getDate() }}" readonly>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-info waves-effect waves-light" id="tension-info">Ajouter</button>
        </div>
      </div>
    </div>
  </div>

  <div id="poids" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Ajouter prélèvement poids</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="message-text" class="control-label">Valeur:</label>
              <input type="number" class="form-control" id="message-text">
            </div>
            <div class="form-group">
              <label for="message-te" class="control-label">Date:</label>
              <input type="text" class="form-control" id="message-te" value="{{ getDate() }}" readonly>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-info waves-effect waves-light" id="poids-info">Ajouter</button>
        </div>
      </div>
    </div>
  </div>

  <div id="transport" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Réserver transport</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>Type transport</label>
              <div>
                <select class="form-control" name="type_alert">
                    <option selected="selected">Ambulance</option>
                    <option>Véhicule Sanitaire</option>
                    <option>Taxi</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="message-text" class="control-label">Date:</label>
              <input type="date" class="form-control" id="message-text">
            </div>
            <div class="form-group">
              <label for="message-text" class="control-label">Heure:</label>
              <input type="time" class="form-control" id="message-text">
            </div>
            <div class="form-group">
              <label for="message-text" class="control-label">Détail sur la réservation:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-success waves-effect waves-light" id="transport-info">Réserver</button>
        </div>
      </div>
    </div>
  </div>
</div>
