<!-- Preloader -->
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">

  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Ajouter Médecin</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a [routerLink]="'/main'">Hospital</a></li>
            <li class="active">Ajouter Médecin</li>
          </ol>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="white-box">
            <h3 class="box-title">Enter les informations concernant le Médecin</h3>
            <form class="form-material form-horizontal">
              <div class="form-group">
                <label class="col-md-12" for="example-text">Nom</label>
                <div class="col-md-12">
                  <input type="text" id="example-text" [(ngModel)]='doctor.last_name' name="example-tex" class="form-control" placeholder="Nom du médecin">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12" for="example-text">Prénom</label>
                <div class="col-md-12">
                  <input type="text" id="example-text" [(ngModel)]='doctor.first_name' name="example-tet" class="form-control" placeholder="Prénom du médecin">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12" for="example-text">Adresse</label>
                <div class="col-md-12">
                  <input type="text" id="exampe-text" [(ngModel)]='doctor.address' name="example-txt" class="form-control" placeholder="Adresse du médecin">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12" for="bdate">Date de Naissance</label>
                <div class="col-md-12">
                  <input type="date" id="date" name="bdate" [(ngModel)]='doctor.birthday' class="form-control" placeholder="Date de Naissance du Médecin">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-12">Maladies</label>
                <div class="col-sm-12">
                  <span><input type="checkbox" name="alzheimer" [(ngModel)]="alzheimer">Alzheimer </span>
                  <span><input type="checkbox" name="pregnent" [(ngModel)]="pregnent"> Grossesse à risque</span>
                  <span><input type="checkbox" name="diabetic" [(ngModel)]="diabetic"> Diabétique</span>
                </div>
              </div>
              <!--<div class="form-group">
                <label class="col-md-12">Description</label>
                <div class="col-md-12">
                  <textarea class="form-control" rows="1" name="decription_médecin [(ngModel)]="doctor.description"></textarea>
                </div>
              </div>-->
            </form>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="white-box">
            <h3 class="box-title">Enter les informations de connexion</h3>
            <form class="form-material form-horizontal">
              <div class="form-group">
                <label class="col-md-12" for="example-text">Nom d'utilisateur</label>
                <div class="col-md-12">
                  <input type="text" id="example-ext" [(ngModel)]='doctor.username' name="examle-text" class="form-control" placeholder="Nom D'utilisateur du médecin">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12" for="example-email">Email</label>
                <div class="col-md-12">
                  <input type="email" id="example-email" [(ngModel)]="doctor.email" name="example-email" class="form-control" placeholder="Email du médecin">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12" for="example-phone">Numéro Téléphone</label>
                <div class="col-md-12">
                  <input type="text" id="example-phone" [(ngModel)]="doctor.phone_number" name="example-phone" class="form-control" placeholder="Numéro Téléphone du médecin"
                    data-mask="(999) 999-9999">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12" for="pwd">Mot de passe</label>
                <div class="col-md-12">
                  <input type="password" id="pwd" [(ngModel)]="doctor.password" name="pwd" class="form-control" placeholder="Mot de passe pour le médecin">                  </div>
              </div>
              <div class="form-group">
                <label class="col-md-12" for="cpwd">Confirm Password</label>
                <div class="col-md-12">
                  <input type="password" id="cpwd" name="cpwd" class="form-control" placeholder="Confirmer mot de passe">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="white-box" style="text-align:center">
            <button type="submit" (click)="addDoctor()" class="btn btn-info waves-effect waves-light m-r-10">Ajouter</button>
            <button type="submit" class="btn btn-inverse waves-effect waves-light">Annuler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
