<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Dossier de "<span class="caps">{{ patient.first_name }} {{ patient.last_name }}</span>"</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a href="#">Hospital</a></li>
            <li class="active">Dossier Médical</li>
          </ol>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!--content-->
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="white-box">
          <form class="form-material form-horizontal">
            <div class="form-group">
              <label class="col-md-12" for="exampl-text">Nom</label>
              <div class="col-md-12">
                <input type="text" id="exampl-text" [(ngModel)]='patient.last_name' name="last_name" class="form-control" placeholder="Nom du patient">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12" for="example-text">Prénom</label>
              <div class="col-md-12">
                <input readonly type="text" id="example-text" [(ngModel)]='patient.first_name' name="firs_name" class="form-control" placeholder="Prénom du patient">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12" for="examle-text">Adresse</label>
              <div class="col-md-12">
                <input readonly type="text" id="examle-text" [(ngModel)]='patient.address' name="address" class="form-control" placeholder="Adresse du patient">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-12">Maladies</label>
              <div class="col-sm-12">
                <h5 *ngFor="let case of patient.cases, let last = last">{{ case.name }}<span *ngIf="!last">, </span></h5>
              </div>
            </div>
            <!--<div class="form-group">
                <label class="col-md-12">Description</label>
                <div class="col-md-12">
                  <textarea class="form-control" rows="1" name="decription_patient" [(ngModel)]="patient.description"></textarea>
                </div>
              </div>-->
          </form>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="white-box">
          <form class="form-material form-horizontal">
            <div class="form-group">
              <label class="col-md-12" for="example-text">Nom d'utilisateur</label>
              <div class="col-md-12">
                <input readonly type="text" id="example-ext" [(ngModel)]='patient.username' name="example-text" class="form-control" placeholder="Nom D'utilisateur du patient">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-12" for="bdate">Date de Naissance</label>
              <div class="col-md-12">
                <input readonly type="text" id="bdate" name="bdate" [(ngModel)]='patient.birthday' class="form-control mydatepicker" placeholder="Date de Naissance du Patient">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12" for="example-email">Email</label>
              <div class="col-md-12">
                <input  readonly type="email" id="example-email" [(ngModel)]="patient.email" name="example-email" class="form-control" placeholder="Email du patient">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12" for="example-phone">Numéro Téléphone</label>
              <div class="col-md-12">
                <input readonly type="text" id="example-phone" [(ngModel)]="patient.phone_number" name="example-phone" class="form-control" placeholder="Numéro Téléphone du patient"
                  data-mask="(999) 999-9999">
              </div>
            </div>
            <br>  
          </form>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="user.type!=='Patient'" id="patient-history">
      <div class="col-sm-12">
        <div class="white-box">
          <h4>Historique des Traitements</h4>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="user.type!=='Patient'">
      <div class="col-sm-4">
        <div class="white-box">
          <h3 class="box-title">Traitement <span class="label label-warning">non Terminer</span></h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Traitement</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let traitement of todos">
                  <template [ngIf]="!traitement.done && !traitement.deleted">
                    <td>{{ traitement.id }}</td>
                    <td>{{ traitement.content }}</td>
                  </template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="white-box">
          <h3 class="box-title">Traitement <span class="label label-success">Terminé</span></h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Traitement</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let traitement of todos">
                  <template [ngIf]="traitement.done && !traitement.deleted">
                    <td>{{ traitement.id }}</td>
                    <td>{{ traitement.content }}</td>
                  </template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="white-box">
          <h3 class="box-title">Traitement <span class="label label-danger">Supprimer</span></h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Traitement</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let traitement of todos">
                  <template [ngIf]="traitement.deleted">
                    <td>{{ traitement.id }}</td>
                    <td>{{ traitement.content }}</td>
                  </template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="row" *ngIf="user.type!=='Patient'">
      <div class="col-sm-12">
        <div class="white-box">
          <h4>Historique des prises</h4>
        </div>
      </div>
    </div>
    <!--<td><span class="label label-danger">admin</span> </td>-->
    <div class="row" *ngIf="user.type!=='Patient'">
      <div class="col-sm-4">
        <div class="white-box">
          <h3 class="box-title">Prise de Glycémie</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Valeur</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sample of samples">
                  <template [ngIf]="sample.type==='glycemie'">
                    <td>{{ sample.id }}</td>
                    <td>{{ sample.value }}</td>
                    <td>{{ sample.date.slice(0,16) }}</td>
                  </template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="white-box">
          <h3 class="box-title">Prise de Tension</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Valeur</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sample of samples">
                  <template [ngIf]="sample.type==='tension'">
                    <td>{{ sample.id }}</td>
                    <td>{{ sample.value }}</td>
                    <td>{{ sample.date.slice(0,16) }}</td>
                  </template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="white-box">
          <h3 class="box-title">Prise de Poids</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Valeur</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sample of samples">
                  <template [ngIf]="sample.type==='poids'">
                    <td>{{ sample.id }}</td>
                    <td>{{ sample.value }}</td>
                    <td>{{ sample.date.slice(0,16) }}</td>
                  </template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>
